nav {
	background-color: rebeccapurple;
}

nav a {
	font-family: Cornerstone;
	font-size: 25px;
	font-weight: 500;
	line-height: 15px;
	text-align: center;
}

#Welcome {
	background-color: rebeccapurple;
	color: white;
}

.btn {

	text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-w
	display: inline-block;
	border:  1px;
	border-radius: .25rem;
}

#introduction{
	color: rebeccapurple;
	font-family: Cornerstone;

}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

.list-group-item {
	color: white;
    background-color: #9966CB;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    transition: background-color 0.2s ease-in-out;
}


#resources {

	color: rebeccapurple;
	font-family: Cornerstone;
}
    

